
    
<section class="categories" >
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                
            <div id="carouselExampleControls" class="carousel slide p-0" data-ride="carousel" >
                <div class="carousel-inner">
                 
                
                    <div class="carousel-item active">
                        <div class="banner__item">
                            <div class=" item-carousel">
                                <div class="categories__item categories__large__item set-bg " style=" background-image: url('assets/images/home1.png');">
                                     <a   [ngClass]="this.catalService.activeP  == true? 'active' : ''" (click)="this.catalService.onSelectedProduct()"  class="button5 clicable" style="background-color:#A1CAB8;">Voir Nos Produits</a>
                                </div>
                            </div>
                        </div>
                      </div>
                  <div class="carousel-item  ">
                    <div class="banner__item">
                        <div class=" item-carousel categories__item categories__large__item set-bg"   style=" background-image: url('assets/images/home2.png');">
                             <a  [ngClass]="this.catalService.activeP  == true? 'active' : ''" (click)="this.catalService.onSelectedProduct()"  class="button5 clicable" style="background-color:#A1CAB8;">Voir Nos Produits</a>
                           
                    </div>
                  </div>
                  </div>
                  <div class="carousel-item  ">
                    <div class="banner__item">
                        <div class=" item-carousel categories__item categories__large__item set-bg"   style=" background-image: url('assets/images/fd.png');">
                             
                    </div>
                  </div>
                  </div>

                
                 
                  
               
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 p-0" style="margin-top: 50px;">
                    <video controls="controls" loop="loop" poster="assets/images/diff.jpg">
                        <source src="assets/images/ecobell.mp4">
                    </video>
                </div>
               
                   
                <div class="col-lg-6 col-md-6 col-sm-6 p-0" style="margin-top: 45px;">
                    <div class="categories__item set-bg" style=" background-image: url('assets/images/n.jpg');">
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0" style="margin-top: 45px;">
                    <div class="categories__item set-bg" style=" background-image: url('assets/images/n3.jpg');">
                       
                    </div>
                </div>
            
               
               
            </div>
        </div>
    </div>
</div>
</section>
<h1 class="titleV"> Comment utiliser Ecobell</h1>
<section class="discount col-lg-12 col-md-12 col-sm-12"  >
   
        <video class="col-lg-12 col-md-12 col-sm-12 vd"controls="controls"   loop="loop">
            <source src="assets/images/video2.mp4">
        </video>
    
</section>
<h1 class="title" id="nous"> A propos de Nous </h1>
<section class="discount" style="margin-top: 30px;">
    <div class="container">
        <div class="row">
          
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                  
                        <h2 style="font-size: 60px;
                        color: #ca1515;
                        font-family: 'Cookie', cursive;
                        line-height: 46px;">TCCIE, Importateur et Distributeur de bien-être</h2>
                    
                
                    <div class="discount__countdown" id="countdown-time">
                        
                    </div>
                    <a (click)="onSelectedProduct()" class="clicable" style="margin-top:50px ;">Achetez maintenant
                        <span class="glyphicon glyphicon-shopping-cart" style="margin-left: 10px;"></span></a>
                  
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <div  style="margin-left: 50px; margin-top:30px ;">
                       
                        <h2 style="font-size: 60px;
                        color: #ca1515;
                        font-family: 'Cookie', cursive;
                        line-height: 46px;">TCCIE</h2>
                   
                    </div>
                    <p style="margin-left: 50px; margin-top:10px ;">
                        Créée en 2012 à Casablanca, la Société T.C. Compagnie (T.C.C.I.E) vous propose des Produits novateurs et naturels, d'origine Française pour ECOBELL PROFESSIONAL ou BEAUTY SANE. Des Gammes de Soins et de Compléments alimentaires BIO, en perpétuel renouvellement dans la recherche et la commercialisation de leur savoir. Avec ECOBELL, la vie sera plus belle pour les Personnes (H/F) atteintes de cheveux clairsemés ou assujetties aux cheveux/racines blanches. Et avec BEAUTY SANE, l'utile joint l'agréable : consommez des Compléments alimentaires sains et porteurs de bien-être tout en ayant la possibilité 
                        de compléter vos revenus ou de créer votre propre activité commerciale et indépendante
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner bg-carousel">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="banner__item">
                    <div class="banner__text item-carousel" >
                        <span>TCCIE</span>
                        <h1>Des revendeurs dans plusieurs villes</h1>
                        <a href="#">Shop now</a>
                    </div>
                </div>
              </div>
            
              <div class="carousel-item">
                <div class="banner__item">
                    <div class="banner__text item-carousel">
                        <span>TCCIE</span>
                        <h1> Des tests gratuits chez nos revendeurs</h1>
                        <a href="#">Shop now</a>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="banner__item">
                    <div class="banner__text item-carousel">
                        <span>TCCIE</span>
                        <h1>Livraison partout au Maroc 
                        </h1>
                        <a href="#">Shop now</a>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="banner__item">
                    <div class="banner__text item-carousel">
                        <span>TCCIE</span>
                        <h1>Plusieurs gammes disponibles</h1>
                        <a href="#">Shop now</a>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</section>
<h1 class="title"  id="gammes"> Nos gammes disponibles </h1>
<div class="container" >
    <div class="row">
        <div class="col-lg-4 p-0">
            <div class="discount__pic">
               <img src="assets/images/8.jpg" class="gamme"/>
               <span class="title-gamme center" >Ecobelle</span>
            </div>
        </div>
      
        <div class="col-lg-4 p-0">
            <div class="discount__pic">
                <img src="assets/images/bb2.png" class="gamme"/>
                <span  class="title-gamme center">Beautysané</span>
             </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="discount__pic">
                <img src="assets/images/n8.jpg" class="gamme"/>
                <span class="title-gamme center" >Nectaplante</span>
             </div>
            
        </div>
     
    </div>
</div>
